<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysMenuMapper">

    <resultMap id="SysMenuResult" autoMapping="true" type="org.dromara.system.domain.SysMenu">
    </resultMap>
    <resultMap id="SysMenuResultVo" autoMapping="true" type="org.dromara.system.domain.vo.SysMenuVo">
    </resultMap>

    <sql id="selectSysMenuVo">
        select sm.menu_id, sm.menu_name, sm.parent_id, sm.order_num, sm.path, sm.component, sm.component_name, sm.query_param, sm.is_frame, sm.is_cache, sm.menu_type, sm.visible, sm.status, sm.perms, sm.icon, sm.hidden_expression, sm.shop_expression, sm.create_dept, sm.create_by, sm.create_time, sm.update_by, sm.update_time, sm.remark from sys_menu sm
    </sql>
    <select id="queryList" parameterType="org.dromara.system.domain.query.SysMenuQuery" resultMap="SysMenuResultVo">
        <include refid="selectSysMenuVo"/>
        <where>
            <if test="userId != null">
                EXISTS (SELECT 1 FROM sys_role_menu rm
                    JOIN sys_role sr ON rm.role_id = sr.role_id
                    JOIN sys_user_role sur ON sr.role_id = sur.role_id
                WHERE
                    sur.user_id = #{userId}
                    AND sr.status = '1'
                    AND sr.del_flag = '0'
                    AND sm.menu_id = rm.menu_id
                )
            </if>
            <if test="menuName != null and menuName != ''"> and sm.menu_name like concat(concat('%', #{menuName}), '%')</if>
            <if test="componentName != null and componentName != ''"> and sm.component_name like concat(concat('%', #{componentName}), '%')</if>
            <if test="visible != null and visible != ''"> and sm.visible = #{visible}</if>
            <if test="status != null and status != ''"> and sm.status = #{status}</if>
            <if test="menuType != null and menuType != ''"> and sm.menu_type = #{menuType}</if>
            <if test="menuTypes != null and !menuTypes.isEmpty()">
                and sm.menu_type in
                <foreach collection="menuTypes" item="item" open="(" separator="," close=")" nullable="true">
                    #{item}
                </foreach>
            </if>
            <if test="parentId != null"> and sm.parent_id = #{parentId}</if>
        </where>
        order by parent_id, order_num
    </select>

</mapper>
